{% extends "base.html" %}
{% set active_page = "home" %}
{% set page_title = "Home - Registration-less Monacoin Mining Pool" %}
{% block body %}
<script>
$(document).ready(function() {
  //  Action stats form based on input val
    $('#statsform').submit(function(){
      var address = $('#inputAddress').val();
      $(this).attr('action', "/" + address);
    });
});
</script>

<!-- Img ================================================== -->

<div class="row">
<!-- Quick start ================================================== -->

  <div class="col-lg-12">
    <div class="well well-lg" style="padding-right:30px;">
      <h3>Quick start for mining:</h3>
      <h4><b>No registration required, payouts go to the address used as username.</b></h4>
      <ol>
          <li>Configure your stratum client with the information below. Worker name can be anything you'd like:
            <small>
              <pre><b>URL: </b>stratum+tcp://ilya.milkteafuzz.com
<b>Port:</b> 8888
<b>Username: </b>[Your wallet address].[Worker Name]
<b>Password: </b>anything
<b>cgminer example:</b> ./cgminer -o stratum+tcp://ilya.milkteafuzz.com:8888 -u MCKpf95i2t2GhzAYBybbVct6g8R5NyXiqU.nanashi -p x -I 13</pre>
            </small>
          </li>
          <li>Check your stats and estimated payout by entering your {{ config['coin_name'] }} address below:</li>
          <div class="form-group">
            <form class="bs-example form-horizontal" id="statsform">
              <fieldset>
                <div class="form-group">
                  <div class="col-lg-9">
                    <input type="text" class="form-control" id="inputAddress" placeholder="{{ config['coin_name'] }} Address">
                    <span class="help-block">
                        Paste your {{ config['coin_name'] }} address for quick access to individualized stats.
                        {% if 'recent_users' in session %}
                          <h4>Recently Visited Stats:</h4>
                          {% for address in session['recent_users'][:2] %}
                          <h5><a href="/{{ address }}">{{ address }}</a></h5>
                          {% endfor %}
                        {% endif %}
                    </span>
                  </div>
                  <button type="submit" class="btn btn-default">View Stats</button>
                </div>
              </fieldset>
            </form>
          </div>

        </ol>
    </div>
  </div>
</div>

<!-- Value points ================================================== -->

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-times too-damn-bright"></i> &nbsp;No registration</h3>
      Unlike most pools, we don't require, or even provide, registration. Simply connect to our stratum servers with your monacoin address.
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-lock too-damn-bright"></i> &nbsp;Secure</h3>
      No registration means your credentials can't become compromised, because
      you don't have any!
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg" style="height: 180px;">
      <h3><i class="fa fa-clock-o too-damn-bright"></i> &nbsp;No minimum Payout</h3>
      Payouts are processed every time a block is solved. No minimum balance required. Payouts are computed using PPLNS with a 0% fee.
      The default donation amount is 1%, lowerable to 0%
    </div>
  </div>
</div>

<!-- Cool Features ================================================== -->

<h2>Features</h2>
<br>
<div class="row row-header">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-md-7 text-center no-padding">
          <img src="/static/img/graphs.png" style="box-shadow: -1px -1px 1px #777;margin-top:15px;">
        </div>
        <div class="col-md-5">
          <h3>Insightful statistics</h3>
          <p>Graphs broken down by worker give you a good at-a-glance picture of what is going on.</p>
          <ul>
            <li>Easily name a worker anything you want</li>
            <li>Drill down graphs to an individual worker with a click</li>
            <li>Tooltips display your hash rate for each worker at a given point</li>
            <li>View in 'expanded' mode to see what percentage of your hashing power each of your rigs is</li>
            <li>Easily see your overall hash rate</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- News/Announcements ================================================== -->
<h2>News</h2>
<div class="row row-header">
  <div class="col-lg-12">
    {% for new in news[:3] %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ new['title']|safe }}
        <span class="text-muted pull-right">{{ new['date']|safe }}</span>
      </div>
      <div class="panel-body">
        <p>{{ new['body']|safe }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
